# Dependencies and AdonisJS build
node_modules
build
tmp

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

##Skandi
gcs.json
test.js
test.txt
providers/b2v_wasm.js
providers/c2p_wasm.js
providers/test.js
providers/wasm_kit.js

meow
